p {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fdfbf8;
}

button {
}

.max-w {
  max-width: 1200px;
  margin: auto;
}
.width-50 {
  width: 50%;
}

.h-screen {
  height: 100vh;
}

.hero {
  background-color: #c4c4c4;
}
.nav {
  position: fixed;
  top: 0px;
  background-color: #fdfbf8;
  padding: 0px;
  marign: 0px;
}

button {
  background-color: #70908b;
  color: #fdfbf8;
  border-radius: 5px;
  border: none;

  font: inherit;
  cursor: pointer;
  outline: inherit;
}

img {
  width: fit-content;
  height: 900px;
  object-fit: contain;
}

.no-underline {
  text-decoration: none;
}

/* typography */
.regular-text {
  color: #07484a;
  font-size: 1rem;
  font-weight: 700;
}

.large-text {
  color: #07484a;
  font-weight: 600;
  font-size: 2rem;
}

.link-text {
  color: #07484a;
  font-size: 1.25rem;
  font-weight: 600;
}

.sidebar-text {
  color: #07484a;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* layout */
.voucher-left {
  width: 20%;
}
.voucher-right {
  margin-left: 20px;
  width: 80%;
  overflow: scroll;
}
.dashboard {
  margin-left: 320px;
  margin-right: 320px;
  padding-top: 15px;
  background-color: #c4c4c4;
}
.sidebar {
  background-color: #f0f0f0;
  position: fixed;
  width: 260px;
  height: 100vh;
}
.table-genre {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  width: fit-content;
  margin-top: 30px;
}

/* component */
.search {
  background-color: #f0f0f0;
  border: none;
  outline: none;
  border-radius: 10px;
}

.input-row {
  background-color: #f0f0f0;
  border: none;
  outline: none;
}

.bg-white {
  background-color: #f0f0f0;
}

.icon-search {
  width: 20px;
  height: 20px;
}
.card {
  cursor: pointer;
  background-color: #f0f0f0;
  width: 250px;
  height: 220px;
}

.box {
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

.hidden {
  display: block;
}

@media screen and (max-width: 480px) {
  .width-50 {
    width: 100%;
  }
  .hidden {
    display: none;
  }
}
